.board-single-column-wrapper {
	padding: 10px;
	.title {
		text-align: center;
	}
	.btn-add {
		width: 100%;
		margin: 10px 0;
	}
	.btns {
		margin: 10px 0;
		width: 100%;
		display: flex;
		button {
			width: 50%;
		}
	}
}
